*{box-sizing: border-box;}
input[type=text], input[type=password]{
  height: 100%;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #eceaea;

}
.container{
    
    padding: 16px;
    border: 10px solid #04AA6D;
    border-radius: 20px;
    width: 350px;
    margin: auto;
   
}
button {
    background-color: #04AA6D;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}



    


