.container {
    border-style: solid;
    border-radius: 15px;
    border: width 10px; ;
    height: 500px;
    width: 350px;
    margin-left: 500px;
    margin-top: 70px;
}

.image{

    border: solid;
    border-style: solid ;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-top: 50px;
}
h1{
    text-align: center;
    font-style: italic;
    font-size: medium;
}